<article class="post">
    <section class="post-head">
        <h2><%= link_to post.title, post_path(post) %></h2>
        <small>
            <time><%= created_at.today.strftime("%d %mB %Y") %></time>
            |
            <%= link_to 'Edit', edit_post_path(post) %>
            |
            <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: "Are Your sure?"}%>
        </small>
    </section>
    <section class="post-summary">
        <%= post.summary %>
    </section>
</article>

<h2><%= link_to post.title, post_path(post) %></h2>